:root {
  
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #4d4d4d;
}

img {
  max-width: 100%;
}

a,
button,
input,
textarea,
select {
  font: inherit;
}
